* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.blog__card {
    background-color: white;
    border-radius: 15px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px;
    width: 350px;
    padding: 16px;
    box-shadow: 5px 5px 1px hsl(0, 0%, 7%);

    color: hsl(0, 0%, 7%);
    margin-bottom: 50px;
    gap: 1rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blog__card:hover {
    box-shadow: 10px 10px 1px black;
}

.blog__card img:nth-child(1) {
    border-radius: inherit;
}

.blog__card span:nth-child(2) {
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 7px;
    border-radius: 3px;
    align-self: flex-start;
}

.blog__card h2:nth-child(4) {
    color: hsl(47, 88%, 63%);
}

.blog__card p:nth-child(5) {
    color: hsl(0, 0%, 50%);
}

.blog__card span:nth-child(6) {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 14px;
}

.blog__card span:nth-child(6) img {
    width: 40px;
    height: auto;
}